.fc-event-selected {
  border: 3px solid #000;
}

.fc-time-marker {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
}

.fc-header-toolbar {
    display: none;
}

.fc-event.selected-time {
    background-color: black;
    border: none;
    height: 3px; /* Adjust the height to make it look like a line */
    margin: 0;
    padding: 0;
    z-index: 999999999 !important;
    position: absolute;
}

#statusbar {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 1.5em; /* Adjust the height to fit one text row */
    font-family: monospace;
    text-align: center;
    overflow: hidden; /* Clipping the overflow */
}

#statusbar table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

#statusbar td {
    text-align: left;
    vertical-align: top;
    background-color: black;
    color: white;
}
